jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Building..."

  deploy-dev:
    needs: build
    uses: company/central-ci/.github/workflows/deploy.yml@main
    with:
      env: "dev"

  deploy-test:
    needs: deploy-dev
    uses: company/central-ci/.github/workflows/deploy.yml@main
    with:
      env: "test"

  deploy-prod:
    needs: deploy-test
    uses: company/central-ci/.github/workflows/deploy.yml@main
    with:
      env: "production"
