name: PipelineTest
on: [push,pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: festch code 
        run: actions/checkout@v4
      - name: show status
        run: echo "code is building"
        
    
      
  
