name: CI Pipeline
on: 
  push:
    branches: [ main ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps: 
      - name: clone repo
        uses: actions/clone@v4
      - name: set up java
        uses: actions/setup-java@v4
        with: 
          distribution: tremurin
          java-version: 17
      - name: Build Jar
        run: mvn clean install -DskipTests
      - name: login to docker hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: Build Dcoekr Image 
        run: docker build -t "${{secrets.DOCKER_USERNAME}}"/myapp:latest .
      - name: Push Docker Image 
        run: docker push ${{secretes.DOCKER_USERNAME}}/myapp:latest
    
